
<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark" class="rounded-xl pt-4 pb-8">
    <ion-tab-button tab="dashboard">
      <ion-icon class="text-2xl" aria-hidden="true" name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon class="text-2xl" aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon class="text-2xl" aria-hidden="true" name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
